1. Run the below commands to install "awscli" and "boto3" if not already installed:

$ sudo su
# pip install awscli --upgrade --user
# complete -C aws_completer aws
# pip install boto3

2. Add credentials and region using command 'aws configure' to be written in ~/.aws/credentials and ~/.aws/config files. 
Please use your accees key id and secret key as below, insert 'ap-southeast-2'(Sydney) as region:

# aws configure
AWS Access Key ID [****************C3TA]: abc
AWS Secret Access Key [****************0RAj]: abc123 
Default region name [ap-southeast-2]: ap-southeast-2
Default output format [JSON]: 

3. Run the python script after making it executable, remember to pass the EC2 Instance type as an argument:

# chmod 755 aws_resource_creation.py
# ./aws_resource_creation.py t2.micro
